.index {
  text-align: center;
  margin-top: 50px;
  p {
    margin-bottom: 50px;
  }
  .add {
    border: 0;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    user-select: none;
  }
  .link {
    margin-top: 100px;
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  }
}
